@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Montserrat";
}

@media (max-width: 992px) {
    .dropdown-menu{
        width: 50%;
    }
    .dropdown-menu .dropdown-submenu{
        width: auto;
    }

    .dropdown-menu{ left: -131%;}
}
.FirstSection{
    /* height: 100vh; */
    clip-path: ellipse(72% 68% at 58% 27%);
    background-image: linear-gradient(to left top,#022a3b, #071d27);
    height: 100vh;

}

body{
    background-image: linear-gradient(to left top,#071d27,rgb(0, 0, 0));
}

#mainNav{
    background-color: #040404b4;
    color: #f8f5f5;
    position: fixed;
    z-index: 4;
}
#mainNav a{
    text-decoration: none;
    color: #f8f5f5;
}

.main-menubox {
    display: none;
   
}
#headerlogo{
    height: 40px;
    position: absolute;
    top: 25%;
    left: 2.5%;
    opacity: .8;
    transition: all .4s ease;
}

.main-menu:hover .main-menubox{
    display: block;
    background-color: #070707;
    color: #f8f5f5;
}


.dropdown-submenu{
    position: relative;
}
.dropdown-submenu a::after{
    transform: rotate(-90deg);
    position: absolute;
    right: 3px;
    
    top: 40%;
}
.dropdown-submenu:hover .dropdown-menu, .dropdown-submenu:focus .dropdown-menu{
    display: flex;
    flex-direction: column;
    position: absolute !important;
    margin-top: -30px;
    
    left: 100%;
}

.dropdown-submenu a::after {
    right: 16px;
    top: 42%;
    
}

.dropdown-item {
    padding: 8px 18px;
    color: #f8f5f5;
}
    .dropdown-item{white-space: normal}

    .navbar-expand-lg .navbar-nav .dropdown-menu {
    font-size: 14px;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #070707;
    text-decoration: none;
    background-color: #373737;
}

  li.nav-item { 
       padding: 10px 20px;
    }
  
#Header_button{
    border: none;
    color: white;
    background-color: #0e3a4f;
    height: 35px;
    align-items: center;
    width: 130px;
   
}

.Animatex-text span{
    position: relative;
}

.Animatex-text span::before{
    content: "Wallet";
    color: rgb(64, 173, 223);
    animation: words 15s infinite;
}

.Animatex-text span::after{
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background-color: transparent;
    /* border-left: 2px solid rgb(64, 173, 223); */
    right: -8px;
    animation: cursor 0.8s infinite, typing 20s steps(14) infinite;
}



@keyframes words{
    0%,20%{
        content: "Wallet";
    }
    21%,40%{
        content: "Ethereum";
    }
    41%,60%{
        content: "Private Blockchain";
    }
    61%,80%{
        content: "Exchange";
    }
    81%,100%{
        content: "NFT Marketplace";
    }
}



/* ********Containt********* */
.containt{
    /* padding-top: 200px; */
    height: auto;
}
.MainContentTitleInfo {
    color: white;
}
.MainContentTitleInfo h1{
    font-size: 70px;
}
.MainContentTitleInfo h2{
    font-size: 45px;
}
.MainContentTitleInfo p{ 
    font-size: 20px;
}
.MainGif{
    width: 350px;
}

.information_AtBigWig{
    padding-left: 60px;
    padding-right: 60px;
    color: white;
}
.Title {
    font-size: 45px;
    color: rgb(64, 173, 223);
    text-align: center;
    font-weight: 500;
}
.information_AtBigWig p{
    font-size: 21px;
}

.border{
        width: 60px;
        height: 2px;
        background-color: rgb(64, 173, 223);
        margin: 26px auto;
    
    }
/* ********** new  ************** */
.whatWeTokenize{
    padding: 20px 30px;
}
.WhatWeTokenizeCards{
    width: 600px;
    background-color: #071d27;
    padding: 10px;
    border-radius: 30px;
}
#image_card{
    height: 100px;
    width: 100px;
    border-radius: 10px;
    
}
.discription{
    color: white;
    width: 400px;
}



/* *********** journey************ */
.journey{
    background-color: #0a2a38;
    color: white;
    padding-top: 150px;
    height: 80vh;
    width: 100vw;
    clip-path: polygon(0% 15%, 11% 20%, 16% 21%, 53% 14%, 85% 19%, 100% 15%, 100% 85%, 100% 100%, 85% 100%, 15% 100%, 0 100%, 0% 85%);
    /* clip-path: polygon(0% 15%, 11% 20%, 26% 24%, 53% 14%, 76% 21%, 100% 15%, 100% 85%, 100% 100%, 85% 100%, 15% 100%, 0 100%, 0% 85%); */
}
#footer_title{
    font-size: 60px;
}
#footer_info{
    font-size: 20px;
    padding-left: 100px;
    padding-right: 100px;
}

/* ************ Services Cards*************** */
.ServicesCards{
    width: 410px;
    height: 320px;
    border-radius: 80px 0px 80px 0px;
    border: 1px solid rgb(85, 84, 84);
    text-align: center;
    color: white;
    padding: 8px 5px;
    margin: 0px 20px 20px 0px;
    position: relative;
    overflow: hidden;
}
.circle{
    position: absolute;
    left: 0px;
    bottom: 0px;
    clip-path: circle(0.0% at 0 100%);
    background-color: #0e3a4f;
    z-index: 1;
    width: 100%;
    height: 100%;
    
}
.servicesCardInner{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.ServicesCards i{
    font-size: 30px; 
    color: #c4a9cf;
}
#titlecards{
    font-size: 23px;
    color: rgb(64, 173, 223);
    font-weight: 500;
}
.servicesCardInner p{
    width: 95%;
    padding: 2px 5px;
    font-size: 17px;
    /* font-style: italic; */
}
.ServicesCards button{
    border: none;
    height: 35px;
    width: 130px;
    background-color: transparent;
    color: white;
    border-radius: 20px;
    border: 2px solid rgb(33, 33, 73);
}
.ServicesCards button:hover{
    border: 1px solid rgb(104, 102, 102);
    background-color: #0e3a4f;
}

.ServicesCards:hover > .circle{
    transition: 0.8s;
    clip-path: circle(137.5% at 2% 96%);
}

/* **********************Prcosses************************************************* */

.processcontainer{
    padding: 30px 20px;
}

#ProcessTitleInfo{
    color: white;
    font-size: 18px;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
}
.processesContainer{
    padding: 25px 30px;

}
.processDscription{
    width: 600px;
    color: white;
    font-size: 19px;
    letter-spacing: 1px;
}
.ProcesssesInfo{
    margin-bottom: 100px;
}
#processesimages{
    width: 500px;
    height: 250px;
    border-radius: 20px;  
}
#processesimagetitle{
    font-size: 23px;
}



/* ------------------------Wallet Development page css--------------------------------- */


.walletFirstSection, 
.exchangeFirstSection,
.blockdevelopmentFirstSection,
.blockframeworkFirstSection,
.EnterprisesFirstSection,
.smartcontractFirstSection,
.AssetFirstSection,
.NFTFirstSection{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to left top,#022a3b, #071d27);
}

#walletpagedescription, 
#exchangepagedescription,
#blockdevelopmentpagedescription,
#blockframeworkpagedescription,
#Enterprisespagedescription,
#smartcontractpagedescription,
#Assetpagedescription,
#NFTpagedescription{
    color: white;
    width: 600px;
    font-size: 20px;
    letter-spacing: 1px;
}

#wallettitle,
#exchangetitle,
#blockdevelopmenttitle,
#blockframeworktitle,
#Enterprisestitle,
#smartcontracttitle,
#Assettitle,
#NFTtitle{
    font-weight: bold;
    font-size: 50px;
    color:rgb(64, 173, 223) ;
}

#walletpagesideimg,
#exchangepagesideimg,
#blockdevelopmentpagesideimg,
#blockframeworkpagesideimg,
#Enterprisespagesideimg,
#smartcontractpagesideimg,
#Assetpagesideimg,
#NFTpagesideimg{
    width: 450px;
}

/* ------wallet development info section--------- */
.walletdevelopmentinfoContainer,
.assestsinfoContainer,
.blockchaindevelopmentinfoContainer,
.blockframeworkinfoContainer{
    padding: 30px 10px;
}

#wallet_info_sideimg,
#assests_sideimg,
#blockchaindevelopment_info_sideimg,
#blockframework_info_sideimg{
    width: 400px;
}

#walletdevelopmentinfo,
#blockchaindevelopmentinfo,
#blockframeworkinfo{
    width: 500px;
    color:white;
    font-size: 18px;
    letter-spacing:1px;
    text-align:justify;
}

#walletdevelopmentinfotitle,
#assetsinfotitle,
#blockchaindevelopmentinfotitle,
#blockframeworkinfotitle{
    font-size: 40px;
    text-align: center;
    font-weight: 500;
    color: rgb(64, 173, 223);
}


/* ------wallet development services css--------- */
.walletdevelopmentservicescontainer,
.AssetTokenizationservicescontainer,
.blockchaindevelopmentservicescontainer{
    padding:30px 20px;

}

.walletservices{
    padding: 20px 10px;
}

/* -------keyfeatures css------------ */
.WhyChooseUscontainer{
    padding: 30px 25px;
}

.whychooseuscard{
    width: 350px;
    height: 200px;
    color: white;
    text-align: center;
    padding: 50px 15px;
    background-color: #022a3b;
    border-radius: 20px;
    margin: 0px 5px 10px 5px;
}

.whychooseuscard i{
    font-size: 55px;
    margin-bottom: 10px;
}

.whychooseuscard p{
    font-size: 20px;
}




/* ----------------------------Technology Slider --------------------------- */

.technologysliderContainer{
    padding: 30px 0px;
}

.slider1 {
    height: 150px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    align-items: center;
    overflow: hidden;
    z-index: 3;
  }

 

  .slider2 {
    height: 150px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    /* place-items: center; */
    align-items: center;
    overflow: hidden;

  }

  .slide-track {
  position: absolute;
    display: flex;
    z-index: 1;
    width: calc(150px * 18);
    animation: scroll 50s linear infinite;
    
  }
  #box-inner{
      height: 150px;
      width: 150px;
      background-color: #022a3b;
      display: grid;
      place-items: center;
      float: left;
      border-radius: 10px;
      color: #2DAFEC;
      text-align: center;
      z-index: 2;
  }
  #box{
      
      z-index: 2;
      margin-left: 150px;
  }

  #box-inner1{
      height: 150px;
      width: 150px;
      background-color: #2DAFEC;
      display: grid;
      place-items: center;
      float: left;
      border-radius: 10px;
      color: #022a3b;
      text-align: center;
      z-index: 2;
  }

  .tech_title{
    font-size: 1.5rem;
  }

  .technology_slide {
    height: 150px;
    width: 200px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
  }

  #mot {
    width: 80%;
    aspect-ratio: 1;
  }

  #mot:hover {
    transition: 0.4s;
    transform: scale(1.09);
    filter: none;
  }



  .slider1:hover > .slide-track{
    animation-play-state: paused;
  }

  .slider2:hover > .slide-track{
    animation-play-state: paused;
  }

  @keyframes scroll {
    0% {
      transform: translateX(calc(-150px * 9));
      
    }

    100% {
      transform: translateX(0);
    }
  }
  
  @media only screen and (max-width: 550px){
    #box-inner{
      width: 170px;
    }
    #box-inner1{
      width: 170px;
    }
    #box {
    margin-left: 170px;
  }
}





  /* Contact Us */

  .contact_us {
    width: 100%;
    /* padding: 10px; */
    backdrop-filter: blur(10px);
    z-index: 9999;
  }

  #contact-usForm {
    position: fixed;
    top: 0%;
    z-index: 5;
    display: none;
  }

  .box-wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap-reverse;
    width: 1100px;
    margin: auto;
    margin-top: 35px;
    border: 1px solid black;
    border-radius: 30px;
    background-color: #071d27;
  }

  .info-wrapper {
    width: 35%;
    height: 571px;
    padding: 40px;
    float: left;
    display: block;
    border-radius: 30px 0px 0px 30px;
    background-color: #071d27;
    color: white;
  }

  .color {
    color: #2DAFEC;
    transition: all .4s ease;
  }

  .info-wrapper h2 {
    text-align: left;
    font-size: 28px;
    letter-spacing: 0.5px;
    color: #071d27;
  }

  .info-wrapper h3 {
    font-size: 18px;
    font-weight: 300;
    margin-top: 17px;
    letter-spacing: 0.5px;
    line-height: 26px;
  }

  .info-wrapper .contact-icons {
    list-style: none;
    margin: 60px 0px;
  }

  .contact-icons li {
    margin-top: 25px;
    font-size: 18px;
    color: white;
  }

  .contact-icons li i {
    background-color: #2DAFEC;
    color: black;
    padding: 12px;
    border-radius: 50%;
    margin-right: 5px;
  }

  .contact-icons li a {
    color: white;
    text-decoration: none;
  }

  .contact-icons li a:hover {
    color: #2DAFEC;

  }

  #whatsapp_btn {

    padding: 10px 15px;
    border-radius: 20px;
    outline: none;
    border: none;
    font-size: 20px;
    font-weight: 700;
    color: #2DAFEC;
    background-color: white;

    /* width: 150px; */
  }

  #whatsapp_btn:hover {
    background-color: #2DAFEC;
    color: white;
    transition: 0.5s;
  }

  .form-wrapper {
    width: 65%;
    float: right;
    padding: 40px 25px 35px 25px;
    border-radius: 0px 30px 30px 0px;
    background: #ecf0f3;
  }

  .form-wrapper h2 {
    text-align: left;
    margin-left: 23px;
    font-size: 28px;
    letter-spacing: 0.5px;
  }

  .form-fields {
    display: table;
    width: 100%;
    padding: 15px 5px 5px 5px;
  }

  .form-fields input,
  .form-fields textarea {
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    color: #555;
    padding: 20px 10px 20px 5px;
    width: 100%;
  }

  .form-fields select {
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    color: #3a5f6f;
    padding: 10px 0px;
    width: 100%;
  }

  .form-fields textarea {
    height: 150px;
    resize: none;
  }

  .form-group {
    width: 46%;
    float: left;
    padding: 0px 30px;
    margin: 14px 12px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbc3d1, inset -8px -8px 8px white;
  }

  .form-fields .form-group:last-child {
    width: 96%;
  }

  .submit-btn {
    width: 96%;
    height: 60px;
    margin: 0px 12px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    text-align: center;
    background: #2DAFEC;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    transition: .5s;
  }

  .submit-btn:hover {
    background: #ecf0f3;
    color: #2DAFEC;
  }

  ::placeholder {
    color: #3a5f6f;
  }



  @media only screen and (max-width:767px) {
    #contact-usForm{
      height: 100vh;
      overflow-y: scroll;
    }
    .box-wrapper {
      width: 100%;
    }

    .info-wrapper,
    .form-wrapper {
      width: 100%;
      height: inherit;
      float: none;
    }

    .info-wrapper {
      border-radius: 30px 30px 0px 0px;
    }

    .form-wrapper {
      border-radius: 0px 0px 30px 30px;
    }

    .form-group {
      width: 100%;
      float: none;
      margin: 25px 0px;
    }

    .form-fields .form-group:last-child,
    .submit-btn {
      width: 100%;

    }

    .submit-btn {
      margin: 10px 0px;
    }
    
  }

  /* Contact Us End*/


  /* Footer CSS Start */
  footer {
    background-color: #071d27;
    color: white;
    padding: 15px 10px 5px 10px;
    width: 98%;
    border-radius: 20px;
    border: 1px solid rgb(49, 49, 49);
  }

  .footer_container {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  #footer_logo {
    width: 200px;
  }

  #subscribeinput::placeholder {
    color: rgb(32, 32, 32);
  }

  .footer_container div ul {
    list-style-type: none;
    margin-top: 15px;
    padding: 0px;
  }

  .footer_container div ul li {
    padding: 3px 0px;
  }
  .Footer_div{
    text-align: left;
    padding: 5px 20px;
  }

  #subscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    margin-top: 15px;
    background-color: white;
    border-radius: 10px;
   
  }

  #subscribe input {
    background-color: transparent;
    outline: none;
    border: none;
    padding: 5px 10px;

  }

  #subscribe button {
    background-color: transparent;
    color: black;
    font-size: 20px;
    padding: 3px 10px;
    border-radius: 10px;
    border: none;
    outline: none;
  }

  #subscribe button:hover {
    color: #2DAFEC;
  }

  .socialmedia_icon {
    display: flex;
    margin-top: 10px;

  }

  .socialmedia_icon a {
    background-color: white;
    font-size: 30px;
    margin: 5px 8px;
    height: 43px;
    width: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    padding: 5px 10px;
    border-radius: 50%;
    text-decoration: none;
  }

  .socialmedia_icon a:hover {
    transform: translateY(-5px);

    background-color: #2DAFEC;
    transition: 0.6s;
  }

  #contact_details {
    font-size: 17px;
    text-align: left;
    letter-spacing: 1px;
  }

  @media only screen and (max-width: 550px){
      .footer_container{
        justify-content: center;
      }
      .Footer_div{
    text-align: center;
    width: 330px;
    /* padding: 5px 20px; */
  }
  .line{
   margin: auto;
  }

    }
  /* Footer CSS End  */