/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  scroll-behavior: smooth;
}

body {
  font-family: Oxygen, Ubuntu;
}

a {
  color: #4154f1;
  text-decoration: none;
}

a:hover {
  color: #717ff5;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}





/*--------------------------------------------------------------
# Call-buton
--------------------------------------------------------------*/
.call-buton .cc-calto-action-ripple {
  z-index: 99999;
  position: fixed;
  right: 1rem;
  bottom: 8rem;
  background: #07518E;
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  border-radius: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.call-buton .cc-calto-action-ripple i {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-size: 2.2rem;
}

.call-buton .cc-calto-action-ripple:hover i {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

@-webkit-keyframes cc-calto-action-ripple {
  0% {
    box-shadow: 0 4px 10px rgb(7, 81, 142), 0 0 0 0 rgb(7, 81, 142) 0 0 0 5px rgb(7, 81, 142) 0 0 0 10px rgb(0, 3, 5);
    box-shadow: 0 4px 10px rgb(7, 81, 142) 0 0 0 0 rgb(7, 81, 142) 0 0 0 5px rgb(7, 81, 142) 0 0 0 10px rgb(0, 3, 5);
  }

  100% {
    box-shadow: 0 4px 10px rgb(7, 81, 142) 0 0 0 5px rgb(7, 81, 142) 0 0 0 10px rgb(7, 81, 142) 0 0 0 20px rgb(0, 3, 5);
    box-shadow: 0 4px 10px rgb(7, 81, 142) 0 0 0 5px rgb(7, 81, 142) 0 0 0 10px rgb(7, 81, 142) 0 0 0 20px rgb(0, 3, 5);
  }
}

@keyframes cc-calto-action-ripple {
  0% {
    box-shadow: 0 4px 10px rgb(7, 81, 142) 0 0 0 0 rgb(7, 81, 142) 0 0 0 5px rgb(7, 81, 142) 0 0 0 10px rgb(0, 3, 5);
    box-shadow: 0 4px 10px rgb(7, 81, 142) 0 0 0 0 rgb(7, 81, 142) 0 0 0 5px rgb(7, 81, 142) 0 0 0 10px rgb(0, 3, 5);
  }

  100% {
    box-shadow: 0 4px 10px rgb(7, 81, 142) 0 0 0 5px rgb(7, 81, 142) 0 0 0 10px rgb(7, 81, 142) 0 0 0 20px rgb(0, 3, 5);
    box-shadow: 0 4px 10px rgb(7, 81, 142) 0 0 0 5px rgb(7, 81, 142) 0 0 0 10px rgb(7, 81, 142) 0 0 0 20px rgb(0, 3, 5);
  }
}





/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-header {
  text-align: center;
  padding-bottom: 40px;
}

.section-header h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0;
  color: #4154f1;
  text-transform: uppercase;
}

.section-header p {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 38px;
  line-height: 42px;
  font-weight: 700;
  color: #012970;
}

@media (max-width: 768px) {
  .section-header p {
    font-size: 28px;
    line-height: 32px;
  }
}





/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
/* .back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: #4154f1;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #6776f4;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
} */





/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}





/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
}

.header.header-scrolled {
  background: #fff;
  padding: 15px 0;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
}

.header .logo {
  line-height: 0;
}

.header .logo img {
  max-height: 40px;
  margin-right: 6px;
}

.header .logo span {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #012970;
  font-family: "Nunito", sans-serif;
  margin-top: 3px;
}






/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 20px;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #484848;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar ul li a::after {
  content: '';
  width: 0;
  height: 3px;
  background-color: #07518E;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}


.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #07518E;
}

.navbar .getstarted,
.navbar .getstarted:focus {
  background: #04243f;
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 4px;
  color: #fff;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #fff;
  background: #5969f3;
}




/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #012970;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 1200px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #07518e4a;
  transition: 0.3s;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #07518E;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #07518E;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}





/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  width: 100%;
  height: 100vh;
  background: url(../img/hero-bg.png) top center no-repeat;
  background-size: cover;
  /* margin-bottom: 100px */
}

.hero .container {
  margin-bottom: 100px;
}

.hero h1 {
  margin: 0;
  font-size: 53px;
  font-weight: 700;
  font-family: Ubuntu;
  color: #000;
}

.hero h4 {
  color: #95979C;
  margin: 15px 0 0 0;
  font-size: 15px;
  font-family: Oxygen;

}

.hero h6 {
  margin: 0;
  font-size: 30px;
  font-family: Oxygen;
  font-weight: 600;
  color: #012970;
}


.hero .hero-img {
  text-align: right;
}

@media (min-width: 1024px) {
  .hero {
    background-attachment: fixed;
  }
}

@media (max-width: 991px) {
  .hero {
    height: auto;
    padding: 120px 0 60px 0;
  }

  .hero .hero-img {
    text-align: center;
    margin-top: 80px;
  }

  .hero .hero-img img {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .hero {
    text-align: center;
  }

  .hero h1 {
    font-size: 32px;
  }

  .hero h2 {
    font-size: 24px;
  }

  .hero .hero-img img {
    width: 100%;
  }
}

/*------------------------------------- End Hero Section--------------------------------------*/






/*--------------------------------------------------------------
# Index Page
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# services
--------------------------------------------------------------*/
.services .box {
  padding: 30px;
  margin: 10px;
  box-shadow: 0px 0 5px rgba(1, 41, 112, 0.08);
  text-align: center;
  transition: 0.3s;
  height: 93%;
  border: 2px solid #97909030;
  border-radius: 10px;
}

.services .box img {
  padding: 32px 40px;
  transition: 0.5s;
  transform: scale(1.1);
}

.services h2 {
  font-size: 24px;
  color: #07518E;
  font-weight: 700;
  font-family: Ubuntu;
}

.services p {
  font-size: 40px;
  color: #151515;
  font-family: Oxygen;

}

.services .box h3 {
  font-size: 24px;
  color: #151515;
  font-weight: 700;
  font-family: Oxygen;
  margin-bottom: 18px;
}

.services .box p {
  font-size: 20px;
  color: #636363;
  font-family: Oxygen;

}

.services .box:hover {
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  border: 3px solid #979090c7;
}

.services .box:hover img {
  transform: scale(1);
}

/*------------------------------------- End Services Section--------------------------------------*/






/*--------------------------------------------------------------
# About Us Section
--------------------------------------------------------------*/
.about {
  background-color: #07518e39;
}

.about h2 {
  font-size: 24px;
  color: #07518E;
  font-weight: 700;
  font-family: Ubuntu;
}

.about h3 {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 20px;
  font-family: var(--font-secondary);
}

.about .content p {
  font-size: 20px;
  color: #151515;
  font-family: Oxygen;

}

.about .call-us {
  left: 10%;
  right: 10%;
  bottom: 0;
  background-color: #fff;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.08);
  padding: 20px;
  text-align: center;
}

.about .call-us h4 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 5px;
}

.about .call-us p {
  font-size: 28px;
  font-weight: 700;
  color: var(--color-primary);
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding: 0 0 10px 30px;
  position: relative;
}

.about .content ul i {
  position: absolute;
  font-size: 20px;
  left: 0;
  top: -3px;
  color: var(--color-primary);
}

.about .content p:last-child {
  margin-bottom: 0;
}

.about .play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(var(--color-primary) 50%, rgba(0, 131, 116, 0.4) 52%);
  border-radius: 50%;
  display: block;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 47px);
  overflow: hidden;
}


.about .play-btn:hover:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  animation: none;
  border-radius: 0;
}

.about .play-btn:hover:after {
  border-left: 15px solid var(--color-primary);
  transform: scale(20);
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

.onb-embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
  margin-bottom: 1em;

  .onb-embed-responsive-item {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0;
  }
}

/* // Modifier class for 16:9 aspect ratio */
.onb-embed-responsive__16by9 {
  padding-bottom: 56.25%;
}

/*------------------------------------- End About Us Section--------------------------------------*/






/*--------------------------------------------------------------
# How we do
--------------------------------------------------------------*/
.working {
  padding: 70px 0 60px;
}

.working h2 {
  font-size: 24px;
  color: #07518E;
  font-weight: 700;
  font-family: Ubuntu;
}

/*SECTION1*/

.card h3 {
  font-size: 20px;
  color: #151515;
  font-family: Oxygen;
}

.section1 section {
  display: flex;
  align-items: center;
  justify-content: Center;
}

.section1 .card {
  padding: 1rem;
  position: relative;
  width: 100%;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  /* background-image:url("https://i.ibb.co/Phq8X4f/pattern.png"); */
  background-repeat: no-repeat;
  background-position: top left;
  text-align: center;
  box-shadow: 0px 1px 2px -1px rgba(1, 1, 1, 0.5);
  transition: 0.5s;
}

/* .section1 .card:hover{
  box-shadow:0px 4px 14px -4px rgba(1,1,1,0.5);
  } */
/*   */

.section1 .card img {
  width: 100px;
  display: block;
  justify-content: center;
  align-items: center;

  margin: auto;
}

@media (max-width:820px) {
  .section1 section {
    width: 100%;
    padding: 2rem 1rem;
    display: block;
  }

  .section1 .card {
    padding: 1rem;
    margin: 20px 0;
  }
}

/*------------------------------------- End How we do Section--------------------------------------*/






/*--------------------------------------------------------------
# Assemble Computer
--------------------------------------------------------------*/
.AssembleComputer .box {
  padding: 40px 20px;
  background: #fff;
  text-align: center;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}

.AssembleComputer .box:hover {
  transform: scale(1.1);
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}


.AssembleComputer h2 {
  font-size: 24px;
  color: #07518E;
  font-weight: 700;
  font-family: Ubuntu;
}

.AssembleComputer p {
  font-size: 40px;
  color: #151515;
  font-family: Oxygen;
}

.AssembleComputer h3 {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
  font-family: Oxygen;
}

.AssembleComputer .price {
  font-size: 36px;
  color: #444444;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-family: Oxygen;
}

.AssembleComputer .price sup {
  font-size: 20px;
  top: -15px;
  left: -3px;
  font-family: Oxygen;
}

.AssembleComputer .price span {
  color: #bababa;
  font-size: 16px;
  font-weight: 300;
  font-family: Oxygen;
}

.AssembleComputer img {
  padding: 5px 10px;
}

.AssembleComputer ul {
  padding: 0;
  list-style: none;
  color: #444444;
  text-align: center;
  line-height: 26px;
  font-size: 16px;
  margin-bottom: 25px;
  font-family: Oxygen;
}

.AssembleComputer ul li {
  padding-bottom: 10px;

}

.AssembleComputer ul .na {
  color: #ccc;
  text-decoration: line-through;
}

.AssembleComputer .btn-buy {
  display: inline-block;
  padding: 8px 40px 10px 40px;
  border-radius: 50px;
  color: #4154f1;
  transition: none;
  font-size: 16px;
  font-weight: 400;
  font-family: Oxygen;
  font-weight: 600;
  transition: 0.3s;
  border: 1px solid #4154f1;
}

.AssembleComputer .btn-buy:hover {
  background: #4154f1;
  color: #fff;
}

.AssembleComputer .featured {
  width: 200px;
  position: absolute;
  top: 18px;
  right: -68px;
  transform: rotate(45deg);
  z-index: 1;
  font-size: 14px;
  padding: 1px 0 3px 0;
  background: #4154f1;
  color: #fff;
}

/*------------------------------------- End Assemble Computer Section--------------------------------------*/






/*--------------------------------------------------------------
# F.A.Q
--------------------------------------------------------------*/
.faq .accordion-collapse {
  border: 0;
}

.faq h2 {
  font-size: 24px;
  color: #07518E;
  font-weight: 700;
  font-family: Ubuntu;
}

.faq .accordion-button {
  padding: 15px 15px 20px 0;
  font-weight: 600;
  border: 0;
  font-size: 18px;
  color: #444444;
  text-align: left;
}

.faq .accordion-button:focus {
  box-shadow: none;
}

.faq .accordion-button:not(.collapsed) {
  background: none;
  color: #4154f1;
  border-bottom: 0;
}

.faq .accordion-body {
  padding: 0 0 25px 0;
  border: 0;
}

/*------------------------------------- End FAQ Section--------------------------------------*/






/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/

.testimonials h2 {
  font-size: 24px;
  color: #07518E;
  font-weight: 700;
  font-family: Ubuntu;
}

.testimonials p {
  font-family: Oxygen;
}

.testimonials h6 {
  font-family: Oxygen;
  color: #636363;
  font-size: 16px;
  margin-top: 5px;
}


.testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 30px;
  margin: 40px 30px;
  box-shadow: 0px 0 20px rgba(1, 41, 112, 0.1);
  background: #fff;
  border-radius: 10px;
  border: 2px solid #353333ae;
  min-height: 320px;
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: 0.3s;

}

.testimonials .testimonial-item .stars {
  margin-bottom: 15px;
}

.testimonials .testimonial-item .stars i {
  color: #ffc107;
  margin: 0 1px;
}

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 0 auto;
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  font-family: Ubuntu;
  color: #111;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  font-family: Oxygen;
  color: #999;
  margin: 0;
}

.testimonials .testimonial-item p {
  font-style: italic;
  font-family: Oxygen;
  margin: 0 auto 15px auto;
}

.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #4154f1;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #4154f1;
}

.testimonials .swiper-slide {
  opacity: 0.3;
}

@media (max-width: 1199px) {
  .testimonials .swiper-slide-active {
    opacity: 1;
  }

  .testimonials .swiper-pagination {
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .testimonials .swiper-slide-next {
    opacity: 1;
    transform: scale(1.12);
  }
}

/*------------------------------------- End Testimonials Section--------------------------------------*/






/*--------------------------------------------------------------
# Recent Blog Posts
--------------------------------------------------------------*/
/* .recent-blog-posts .post-box {
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  transition: 0.3s;
  height: 100%;
  overflow: hidden;
  padding: 30px;
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.recent-blog-posts .post-box .post-img {
  overflow: hidden;
  margin: -30px -30px 15px -30px;
  position: relative;
}

.recent-blog-posts .post-box .post-img img {
  transition: 0.5s;
}

.recent-blog-posts .post-box .post-date {
  font-size: 16px;
  font-weight: 600;
  color: rgba(1, 41, 112, 0.6);
  display: block;
  margin-bottom: 10px;
}

.recent-blog-posts .post-box .post-title {
  font-size: 24px;
  color: #012970;
  font-weight: 700;
  margin-bottom: 18px;
  position: relative;
  transition: 0.3s;
}

.recent-blog-posts .post-box .readmore {
  display: flex;
  align-items: center;
  font-weight: 600;
  line-height: 1;
  transition: 0.3s;
}

.recent-blog-posts .post-box .readmore i {
  line-height: 0;
  margin-left: 4px;
  font-size: 18px;
}

.recent-blog-posts .post-box:hover .post-title {
  color: #4154f1;
}

.recent-blog-posts .post-box:hover .post-img img {
  transform: rotate(6deg) scale(1.2);
}
 */






/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
.contact .info-container {
  background-color: #65b3f27e;
  height: 100%;
  padding: 20px;
  border-radius: 10px 0 0 10px;
  box-shadow: 0px 2px 25px #07518E(0, 0, 0, 0.1);
}

.contact h2 {
  font-size: 24px;
  color: #07518E;
  font-weight: 700;
  font-family: Ubuntu;
}

.contact .info-item {
  width: 100%;
  background-color: transparent;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
}

.contact .info-item:last-child {
  margin-bottom: 0;
}

.contact .info-item i {
  font-size: 20px;
  color: #07518E;
  float: left;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  margin-right: 15px;
}

.contact .info-item h1 {
  padding: 0;
  color: #011334;
  font-family: Oxygen;
  margin-bottom: 0;
  font-size: 34px;
  font-weight: bold;
}

.contact .info-item h4 {
  padding: 0;
  color: #011334;
  font-family: Oxygen;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}

.contact .info-item p {
  padding: 0;
  color: #011334;
  font-family: Oxygen;
  margin-bottom: 0;
  font-size: 18px;
}

.contact .info-item:hover i {
  background: transparent;
  color: #07518E;
}

.contact .php-email-form {
  width: 100%;
  height: 100%;
  background: #fff;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 0 10px 10px 0;
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #07518E;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #07518E;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #0f100f;
  border-top-color: #fff;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input[type=text],
.contact .php-email-form input[type=email],
.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form input[type=text]:focus,
.contact .php-email-form input[type=email]:focus,
.contact .php-email-form textarea:focus {
  border-color: var(--color-primary);
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type=submit] {
  background: #07518E;
  border: 0;
  padding: 14px 45px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .php-email-form button[type=submit]:hover {
  border-color: 2px solid#07518e22;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*------------------------------------- End Contact Section--------------------------------------*/







/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  background: #f6f9ff;
  padding: 0 0 30px 0;
  font-size: 14px;
}

.footer h2 {
  font-size: 24px;
  color: #07518E;
  font-weight: 700;
  font-family: Ubuntu;
}

.footer .span1 {
  font-size: 34px;
  color: #e7ecf1;
  font-weight: 700;
  font-family: Ubuntu;
}

.footer p {
  font-size: 15px;
  color: #95979C;
  font-family: Oxygen;
}

.footer .footer-newsletter {
  padding: 50px 0;
  background: #f6f9ff;
  border-top: 1px solid #e1ecff;
}

.footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  color: #012970;
}

.footer .footer-newsletter form {
  margin-top: 20px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
  border: 1px solid #e1ecff;
}

.footer .footer-newsletter form input[type=email] {
  border: 0;
  padding: 8px;
  width: calc(100% - 140px);
}

.footer .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 30px;
  margin: 3px;
  background: #4154f1;
  color: #fff;
  transition: 0.3s;
  border-radius: 4px;
}

.footer .footer-newsletter form input[type=submit]:hover {
  background: #5969f3;
}

.footer .footer-top {
  background: #033a6adc;
  background-size: contain;
  border-top: 1px solid #e1ecff;
  border-bottom: 1px solid #e1ecff;
  padding: 60px 0 30px 0;
}

@media (max-width: 992px) {
  .footer .footer-top {
    background-position: center bottom;
  }
}

.footer .footer-top .footer-info {
  margin-bottom: 10px;
}

.footer .footer-top .footer-info .logo {
  line-height: 0;
  margin-bottom: 5px;
}


.footer .footer-top .social-links a {
  font-size: 20px;
  display: inline-block;
  color: rgba(1, 41, 112, 0.5);
  line-height: 0;
  margin-right: 10px;
  transition: 0.3s;
}

.footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #012970;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}

.footer .footer-top .footer-links {
  margin-bottom: 30px;
}

.footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #004B8D;
  font-size: 12px;
  line-height: 0;
}

.footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-top .footer-links ul a {
  color: #013289;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

.footer .footer-top .footer-links ul a:hover {
  color: #4154f1;
}

.footer .footer-top .footer-contact p {
  line-height: 26px;
}

.footer .copyright {
  text-align: center;
  padding-top: 30px;
  color: #fff;

}

.footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #012970;
}


.footer {
  background: #004B8D;
  padding-top: 80px;
  padding-bottom: 40px;
}

/*END FOOTER SOCIAL DESIGN*/

@media only screen and (max-width:768px) {
  .single_footer {
    margin-bottom: 30px;
  }
}

.single_footer h4 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 25px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
}

.single_footer h4::after {
  content: "";
  display: block;
  height: 2px;
  width: 40px;
  background: #fff;
  margin-top: 20px;
}

.single_footer p {
  color: #fff;
}

.single_footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.single_footer ul li a {
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  line-height: 36px;
  font-size: 15px;
  text-transform: capitalize;
}

.single_footer ul li a:hover {
  color: #3261e4;
}


.single_footer_address ul li {
  color: #fff;
}

.single_footer_address ul li span {
  font-weight: 400;
  color: #fff;
  line-height: 28px;
}

.contact_social ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

/*START NEWSLETTER CSS*/
.subscribe {
  display: block;
  position: relative;
  margin-top: 15px;
  width: 100%;
}

.subscribe__input {
  background-color: #fff;
  border: medium none;
  border-radius: 5px;
  color: #333;
  display: block;
  font-size: 15px;
  font-weight: 500;
  height: 60px;
  letter-spacing: 0.4px;
  margin: 0;
  padding: 0 150px 0 20px;
  text-align: center;
  text-transform: capitalize;
  width: 100%;
}

@media only screen and (max-width:768px) {
  .subscribe__input {
    padding: 0 50px 0 20px;
  }
}

.subscribe__btn {
  background-color: transparent;
  border-radius: 0 25px 25px 0;
  color: #01c7e9;
  cursor: pointer;
  display: block;
  font-size: 20px;
  height: 60px;
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
}

.subscribe__btn i {
  transition: all 0.3s ease 0s;
}

@media only screen and (max-width:768px) {
  .subscribe__btn {
    right: 0px;
  }
}

.subscribe__btn:hover i {
  color: #3261e4;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  -webkit-border-radius: 0;
  border-radius: 0;
}

/*END NEWSLETTER CSS*/

/*START SOCIAL PROFILE CSS*/
.social_profile {
  margin-top: 40px;
}

.social_profile ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.social_profile ul li {
  float: left;
}

.social_profile ul li a {
  text-align: center;
  border: 0px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  margin: 0px 5px;
  font-size: 18px;
  color: #fff;
  border-radius: 30px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

@media only screen and (max-width:768px) {
  .social_profile ul li a {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width:480px) {
  .social_profile ul li a {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
}

.social_profile ul li a:hover {
  background: #3261e4;
  border: 1px solid #3261e4;
  color: #fff;
  border: 0px;
}

/*END SOCIAL PROFILE CSS*/
.copyright {
  margin-top: 70px;
  padding-top: 40px;
  color: #fff;
  font-size: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  text-align: center;
}

.copyright a {
  color: #01c7e9;
  transition: all 0.2s ease 0s;
}

.copyright a:hover {
  color: #3261e4;
}

/*------------------------------------- End Footer--------------------------------------*/