@media screen and (min-width:767px) and (max-width:991px) {
    .imgcontainer,#mainMovieImg,#movieSection{
        width: 100vw;
        height: 75vh;
    }
    #watchbtncontainer{
        top: 40%;
        left: 2%;
        height: 50PX;
    }
    .movies_logo{
        /* transform: scale(0.8); */
        /* top: 20px; */
        margin-top: 0px;
    }
    .imagesSelector{
        top: 68%;
        right: 10px;
    }
    #imgcontainer{
        height: 75vh;
    }
}

@media screen and (min-width:420px) and (max-width:768px) {
    .imgcontainer,#mainMovieImg{
        width: 100vw;
        height: 41Vh;
    }
    #watchbtncontainer{
        top: 18%;
        left: -9%;
        height: 50px;
        transform: scale(0.7);
    }
    .movies_logo{
        margin-top: 41vh;
        width: 100%;
        text-align: center;
        padding: 0px 40px;
        font-size: 14px;
        height: auto;
    }
    .imagesSelector{
        top: 55%;
        right: -18%;
        height: 150PX;
        transform: scale(0.6);
    }
    #imgcontainer{
        height: auto;
    }
    #content{
        font-size: 10px;
        width: 180px;
    }
    .moviecontainer{
        transform: scale(0.7);
        margin: 0px;
        padding: 0px;
        width: 150px;
    }
    #Action,
    #Drama,
    #Thriller,
    #Horror,
    #Comedy,
    #Bollywood{
        margin: 2px;
        height: 250px;
    }
    #Category{
        padding: 0px;
    }
}

@media screen and (max-width:421px) {
    .imgcontainer{
        height: 30vh;
    }
    #mainMovieImg{
        width: 100vw;
        height: 35Vh;
    }
    .movies_logo{
        margin-top: 35vh;
        width: 100%;
        text-align: center;
        padding: 0px 40px;
        font-size: 14px;
        height: auto;
    }
    #content{
        font-size: 8px;
        width: 150px;
    }
    #watchbtncontainer{
        top: 46%;
        left: -10%;
        height: 50px;
        transform: scale(0.6);
    }
    .imagesSelector{
        top: 46%;
        right: -50%;
        height: 150PX;
        transform: scale(0.4);
    }
    #imgcontainer{
        height: auto;
    }
    .moviecontainer{
        transform: scale(0.6); 
        margin: 0px;
        padding: 0px;
        width: 130px;
        height: 150px;
    }
    #Action,
    #Drama,
    #Thriller,
    #Horror,
    #Comedy,
    #Bollywood{
        margin: 2px;
        height: 250px;
    }
    #Category{
        padding: 0px;
    }
}
